/* Write some CSS below */
body {
	font-family: 'Mukta Malar', sans-serif;
  	color: #99C1DE;
  	font-size: 18px;
  	background-color: white;
}

h1, h2, h3 {
  font-family: 'Prata', serif;;
}

a {
  color: #1A48E3;
  font-weight: bold;
  text-decoration: none;
  transition: .3s;
}

a:hover {
  color: #CE2FAE;
}

#banner{
	background-image: url('images/pinkflowers.jpg');
  	background-size: cover;
  	background-position: center;
  	padding: 150px 0px;
  	text-align: center;
}

#banner h1 {
  	color: #99C1DE;
  	font-size: 45px;
  	margin: 0;
}

#banner p{
	color: #BCD4E6;
 	font-size: 24px;
}

.button-blue{
	background-color: #99C1DE;
  	color: white;
  	padding: 16px 48px;
  	border-radius: 4px;
  	display: inline-block;
  	text-decoration: none;
  	transition: .3s;
}

.button-blue:hover {
  	background-color: #FDE2E4;
  	color: white;
}

#container{
  	width: 800px;
  	margin: auto;
}

#container h2{
	color: #99C1DE;
}

.card-white{
  	background: white;
  	box-shadow: 0 0 16px rgba(0,0,0,0.1);
  	border-radius: 4px;
  	width: 200px;
  	text-align: center;
  	padding: 24px;
  	margin: 8px;
}

.card-white h3{
	margin-bottom: 0;
}

#footer{
 	background: #BCD4E6;
 	text-align: center;
  	padding: 24px 0;
}

#footer p{
	color: white;
}

#cards{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}